<header class="header">
  <a href="/" class="nav-title"><h1>Library App</h1></a>
  <nav class="nav">
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a href="/" class="nav-menu-link">Home</a>
      </li>
      <li class="nav-menu-item">
        <a href="/books" class="nav-menu-link">Books</a>
      </li>
      <li class="nav-menu-item">
        <a href="/books/new" class="nav-menu-link">Add Book</a>
      </li>
      <li class="nav-menu-item">
        <a href="/authors" class="nav-menu-link">Authors</a>
      </li>
      <li class="nav-menu-item">
        <a href="/authors/new" class="nav-menu-link">Add Author</a>
      </li>
    </ul>    
  </nav>
</header>